<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-user"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Employee</li>
            </ul>
            <h4>Employee - {{employee.fullName}}</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">




    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="text-center">
                <img ng-src="uploads/{{employee.currentProfilePicture}}" class="img-circle img-offline img-responsive img-profile" alt="Employee Picture" />
                <h4 class="profile-name mb5">{{employee.fullName}}</h4>
                <div><i class="fa fa-map-marker"></i> {{employee.positionName}}</div>
            </div>
            <!-- text-center -->

            <br />


            <ul class="list-unstyled social-list">
                <li>Supervisor: <a ui-sref="business.employee({ employeeId: employee.supervisor.id })">{{employee.supervisor.name}}</a></li>
            </ul>

            <!--<div class="mb30"></div>

            <h5 class="md-title">Actions</h5>
            <button class="btn btn-primary">Primary</button>-->

        </div>
        <!-- col-sm-4 col-md-3 -->

        <div class="col-sm-8 col-md-9">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-line">
                <li class="active"><a href=".personal" data-toggle="tab"><strong>Personal Details</strong></a></li>
                <li><a href=".employment" data-toggle="tab"><strong>Employment Details </strong></a></li>
                <li><a href=".payment" data-toggle="tab"><strong>Payment Details</strong></a></li>
                <li><a href=".payroll" data-toggle="tab"><strong>Payroll Details</strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content nopadding noborder">
                <div class="tab-pane active personal" id="activities">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Personal Details</h4>
                        </div>
                        <!-- panel-heading -->
                        <div class="panel-body nopadding">
                            <form class="form-horizontal form-bordered">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Employee ID</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.employeeId" type="text" placeholder="Unique" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">First Name</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.firstName" type="text" placeholder="First Name" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Last Name</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.lastName" type="text" placeholder="Last Name" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Other Names</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.otherNames" type="text" placeholder="Other Names" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Date of Birth</label>
                                    <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                        <adm-dtp ng-model="employee.dateOfBirth"></adm-dtp>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Gender</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.gender" options="options" s2-options="gender as gender for gender in genders" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Marital
                                        Status</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.maritalStatus" options="options" s2-options="status as status for status in maritalStatus" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="employee-email" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.email" type="email" id="employee-email" placeholder="Email" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="employee-phone" class="col-sm-4 control-label">Phone Number</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.phone" type="tel" id="employee-phone" placeholder="Phone Number" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="employee-address" class="col-sm-4 control-label">Address</label>
                                    <div class="col-sm-4">
                                        <textarea ng-model="employee.address" id="employee-address" class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="employee-city" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.city" id="employee-city" type="text" placeholder="City" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">State</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.state" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <h5>Next of Kin/Guarantor</h5></div>

                                </div>
                                <div class="form-group">
                                    <label for="employee-guarantor-name" class="col-sm-4 control-label">Full
                                        Name</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.guarantor.fullName" id="employee-guarantor-name" type="text" placeholder="Guarantor's Full Name" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="employee-guarantor-email"
                                           class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.guarantor.email" id="employee-guarantor-email" type="email" placeholder="Guarantor's Email" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="employee-guarantor-phone" class="col-sm-4 control-label">Phone
                                        Number</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.guarantor.phone" id="employee-guarantor-phone" type="tel" placeholder="Guarantor's Phone" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="employee-guarantor-address"
                                           class="col-sm-4 control-label">Address</label>
                                    <div class="col-sm-4">
                                        <textarea ng-model="employee.guarantor.address" id="employee-guarantor-address" class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="employee-guarantor-city" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.guarantor.city" id="employee-guarantor-city" type="text" placeholder="Guarantor's City" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">State</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.guarantor.state" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- panel-body -->
                    </div>
                    <!-- panel -->

                </div>
                <!-- tab-pane -->

                <div class="tab-pane employment" id="followers">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Employment Details</h4>
                        </div>
                        <!-- panel-heading -->
                        <div class="panel-body nopadding">
                            <form class="form-horizontal form-bordered">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Location</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.location" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Business Unit</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.businessUnitId" options="options" s2-options="businessUnit._id as businessUnit.name for businessUnit in businessUnits" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Division</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.divisionId" options="options" s2-options="division._id as division.name for division in filteredDivisions" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.departmentId" options="options" s2-options="department._id as department.name for department in filteredDepartments" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Position</label>
                                    <div class="col-sm-4">
                                        <select2 ng-change="checkValidity()" ng-model="employee.positionId" options="options" s2-options="position._id as position.name for position in filteredPositions" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            <span class="label label-danger">{{message}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Hire Date</label>
                                    <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                        <adm-dtp ng-model="employee.employmentDate"></adm-dtp>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Confirmation Date</label>
                                    <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                        <adm-dtp ng-model="employee.confirmationDate"></adm-dtp>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.status" options="options" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Termination/Resignation Date</label>
                                    <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                        <adm-dtp ng-model="employee.terminationDate"></adm-dtp>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- panel-body -->
                    </div>
                    <!-- panel -->
                </div>
                <!-- tab-pane -->

                <div class="tab-pane payment" id="following">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Payment Details</h4>
                        </div>
                        <!-- panel-heading -->
                        <div class="panel-body nopadding">
                            <form class="form-horizontal form-bordered">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Method</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.paymentDetails.paymentMethod" options="options" s2-options="method as method for method in paymentMethods" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Bank</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.paymentDetails.bank" options="options" s2-options="bank as bank for bank in banks" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Bank Account No.</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.paymentDetails.accountNumber" type="text" placeholder="Account Number" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Bank Account Name</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.paymentDetails.accountName" type="text" placeholder="Account Name" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Pension Manager</label>
                                    <div class="col-sm-4">
                                        <select2 ng-model="employee.paymentDetails.pensionManager" options="options" s2-options="manager._id as manager.name for manager in pensionManagers" style="width: 100%"></select2>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">RSA Pin</label>
                                    <div class="col-sm-4">
                                        <input ng-model="employee.paymentDetails.RSAPin" type="text" placeholder="RSA Pin" class="form-control"/>
                                    </div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                </div>
                            </form>
                        </div><!-- panel-body -->
                    </div><!-- panel -->

                </div><!-- tab-pane -->

                <div class="tab-pane payroll" id="events">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Payroll Details</h4>
                        </div>
                        <!-- panel-heading -->
                        <div class="panel-body nopadding">
                            <form class="form-horizontal form-bordered">

                                <div class="form-group">
                                   
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>&nbsp;Wages</h6>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row" ng-repeat="wage in getTypes('Wage') track by $index">
                                                <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                <div class="col-sm-1 text-right" style="padding-right:5px;">
                                                    <span><a ng-click="removePayType(wage)" class="fa fa-times text-danger pointer"></a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm">
                                                        <span ng-click="openType(wage)" class="input-group-addon pointer" style="width:150px">{{wage.code}} - {{wage.title}}</span>
                                                        <input ng-model="wage.value" type="number" placeholder="" class="form-control" ng-disabled="wage.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm" ng-if="wage.derived !== 'Fixed'">
                                                        <span class="input-group-addon" style="width:150px">Formula</span>
                                                        <input ng-model="wage.derivative" type="text" placeholder="" class="form-control" ng-disabled="wage.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>

                                                <div class="col-sm-4 text-right">
                                                    <span class="help-block"><a ng-click="showOptions('Wage')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add wage]</a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>&nbsp;Benefits</h6>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row" ng-repeat="benefit in getTypes('Benefit') track by $index">
                                                <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                <div class="col-sm-1 text-right" style="padding-right:0px;">
                                                    <span><a ng-click="removePayType(benefit)" class="fa fa-times text-danger pointer" style="vertical-align:middle"></a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm">
                                                        <span ng-click="openType(benefit)" class="input-group-addon pointer" style="width:150px">{{benefit.code}} - {{benefit.title}}</span>
                                                        <input ng-model="benefit.value" type="number" placeholder="" class="form-control" ng-disabled="benefit.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm" ng-if="benefit.derived !== 'Fixed'">
                                                        <span class="input-group-addon" style="width:150px">Formula</span>
                                                        <input ng-model="benefit.derivative" type="text" placeholder="" class="form-control" ng-disabled="benefit.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>

                                                <div class="col-sm-4 text-right">
                                                    <span class="help-block"><a ng-click="showOptions('Benefit')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add benefit]</a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h6>&nbsp;Deductions</h6>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row" ng-repeat="deduction in getTypes('Deduction') track by $index">
                                                <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                <div class="col-sm-1 text-right" style="padding-right:0px;">
                                                    <span><a ng-click="removePayType(deduction)" class="fa fa-times text-danger pointer" style="vertical-align:middle"></a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm">
                                                        <span ng-click="openType(deduction)" class="input-group-addon pointer" style="width:150px">{{deduction.code}} - {{deduction.title}}</span>
                                                        <input ng-model="deduction.value" type="number" placeholder="" class="form-control" ng-disabled="deduction.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-sm" ng-if="deduction.derived !== 'Fixed'">
                                                        <span class="input-group-addon" style="width:150px">Formula</span>
                                                        <input ng-model="deduction.derivative" type="text" placeholder="" class="form-control" ng-disabled="deduction.editablePerEmployee === 'No'"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>

                                                <div class="col-sm-4 text-right">
                                                    <span class="help-block"><a ng-click="showOptions('Deduction')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add deduction]</a></span>
                                                </div>
                                                <div class="col-sm-4">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5><a class="pointer" ng-click="prepareSummary()" data-toggle="modal" data-target=".payroll-summary">View Payroll Summary</a></h5>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5 class="text-right"><a class="pointer" data-toggle="modal" data-target=".restore-removed">Restore</a></h5>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <ul class="list-unstyled wizard">
                                            <li class="pull-right">
                                                <button type="button" class="btn btn-primary" ng-click="createEmployee()">Save</button>
                                            </li>
                                        </ul>
                                    </div><!-- col-md-12 -->
                                </div>
                            </form>
                        </div><!-- panel-body -->
                    </div><!-- panel -->
                </div><!-- tab-pane -->

            </div><!-- tab-content -->

        </div><!-- col-sm-9 -->
    </div>
    <!-- row -->




</div><!-- contentpanel -->



<div class="modal fade payroll-summary" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Summary</h3>
                </div>
                <div id="payroll-summary" class="panel-body big-font">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="lg-title mb5 text-center">{{business.name}}</h5>
                            <p class="mb20 text-center">Payroll Summary</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Pay Components</th>
                                        <th>Amount ( ₦  )</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="payType in getNonDeductions()">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Gross Pay: </b></td>
                                        <td><b>{{getPaymentGross() | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr ng-repeat="payType in getDeductions()">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total Deductions: </b></td>
                                        <td><b>{{getTotalDeductions() | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td><b>Net Pay: </b></td>
                                        <td><b>{{getNetPayment() | currency:""}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div>
                <div class="panel-footer">
                    <button type="reset" ng-click="resetSummary()" class="btn btn-danger" id="payroll-summary-close" data-dismiss="modal">Close</button>
                    <button type="reset" ng-click="print('payroll-summary')" class="btn btn-info" id="payroll-summary-print">Print</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>

