<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-money"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Tax Rules</li>
            </ul>
            <h4>Tax Rules</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row" ng-show="!singleView">
        <div class="col-md-12">
            <h5 class="lg-title mb5">Taxes</h5>
            <p class="mb20 pull-right"><button class="btn btn-primary" data-toggle="modal" data-target=".add-unit">New Tax Rule</button></p>
        </div>
    </div>

    <div class="row" ng-show="!singleView">
        <div class="col-md-12 text-center" ng-if="!dataFetched">
            <img alt="" src="images/loaders/loader10.gif">
        </div>
        <div class="col-md-12" ng-if="taxes.length === 0 && dataFetched">
            <div class="alert alert-danger text-center">
                <p>No Tax available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="taxes.length > 0 && dataFetched">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Gross Income Relief (%)</th>
                        <th>Consolidated Relief (Annual)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-click="showTax(tax)" ng-repeat="tax in taxes">
                        <td>{{$index + 1}}</td>
                        <td>{{tax.code}}</td>
                        <td>{{tax.name}}</td>
                        <td>{{tax.grossIncomeRelief + '%'}}</td>
                        <td>{{tax.consolidatedRelief | currency:" ₦ "}}</td>
                        <td>
                            <span ng-if="tax.status === 'Active'" class="label label-success">{{tax.status}}</span>
                            <span ng-if="tax.status === 'Inactive'" class="label label-danger">{{tax.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div><!-- row -->

    <div class="row" ng-show="singleView">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Update - {{oldTax.name}} Tax</h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-tax-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="update-tax-code" class="form-control" placeholder="PAYE" ng-model="singleTax.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-tax-name" class="control-label">Name</label>
                                <input type="text" id="update-tax-name" class="form-control" placeholder="Pay as you earn" ng-model="singleTax.name"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-tax-gross-income-relief" class="control-label">Gross Income Relief (%)</label>
                                <input type="number" id="update-tax-gross-income-relief" class="form-control" placeholder="20" ng-model="singleTax.grossIncomeRelief"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-tax-consolidated-relief" class="control-label">Consolidated Relief</label>
                                <input type="number" id="update-tax-consolidated-relief" class="form-control" placeholder="200000" ng-model="singleTax.consolidatedRelief"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select2 options="options" ng-model="singleTax.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                    <h5 class="lg-title mb5">Tax Rules</h5>
                                    <p class="mb20 pull-right"><button id="add-rule-button" class="btn btn-primary btn-sm" ng-click="setRange()" data-toggle="modal" data-target=".add-rule">Add Rule</button></p>
                                </div><!-- col-sm-12 -->
                                <div class="col-md-12" ng-if="singleTax.rules.length > 0">
                                    <div class="table-responsive">
                                        <table class="table table-primary mb60 table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Range</th>
                                                <th>Upper Limit Value</th>
                                                <th>Rate %</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody ng-sortable="payTypeSortConfig">
                                            <tr ng-repeat="rule in singleTax.rules" class="pointer">
                                                <td>{{$index + 1}}</td>
                                                <td>{{rule.range}}</td>
                                                <td><a class="pointer" editable-number="rule.upperLimitValue" buttons="no">{{ rule.upperLimitValue }}</a></td>
                                                <td><a class="pointer" editable-number="rule.rate" buttons="no">{{ rule.rate }}</a></td>
                                                <td><a class="pointer" ng-click="removeRule($index)"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->
                                </div>
                                <div class="col-md-12" ng-if="singleTax.rules.length === 0">
                                    <div class="alert alert-danger text-center">
                                        <p>No rule created yet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12">
                            <span ng-show="histories.length > 0" class="pull-right">Last updated on {{getLastHistory().date | date:"MM/dd/yyyy 'at' h:mma"}}, by {{getLastHistory().user.username}}</span>
                        </div><!-- col-sm-12 -->
                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="updateTax()">Update</button>
                    <button type="reset" class="btn btn-warning" ng-click="closeTax()">Cancel</button>
                    <button type="reset" class="btn btn-danger pull-right" ng-click="delete()">Delete</button>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div><!-- col-md-12 -->


        <div class="col-md-4">
            <h5 class="lg-title mb10">Edit History</h5>

            <div class="panel-group" id="accordion2">
                <div ng-repeat="history in histories" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href=".{{history._id}}">
                                <span>{{history.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                <span class="pull-right">{{history.user.username}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" ng-class="history._id">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" ng-repeat="activity in history.activities">
                                    <div class="well well-sm">{{activity | prettifyActivity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->

            </div><!-- panel-group -->

        </div><!-- col-md-4 -->

    </div>


</div><!-- contentpanel -->




<div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Tax Rule</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="tax-code" class="form-control" placeholder="PAYE" ng-model="tax.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-name" class="control-label">Name</label>
                                <input type="text" id="tax-name" class="form-control" placeholder="Pay as you earn" ng-model="tax.name"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-gross-income-relief" class="control-label">Gross Income Relief (%)</label>
                                <input type="number" id="tax-gross-income-relief" class="form-control" placeholder="20" ng-model="tax.grossIncomeRelief"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-consolidated-relief" class="control-label">Consolidated Relief</label>
                                <input type="number" id="tax-consolidated-relief" class="form-control" placeholder="200000" ng-model="tax.consolidatedRelief"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="createTax()">Create</button>
                    <button type="reset" class="btn btn-danger" id="new-tax-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade add-rule" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Rule</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Range</label>
                                <select2 options="options" ng-model="taxRule.range" s2-options="range as range for range in ranges" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rule-upper-limit" class="control-label">Upper Limit Value</label>
                                <input type="number" id="rule-upper-limit" class="form-control" placeholder="55000" ng-model="taxRule.upperLimitValue"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="rule-rate" class="control-label">Rate</label>
                                <input type="number" id="rule-rate" class="form-control" placeholder="7.5" ng-model="taxRule.rate"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="addRule()">Add</button>
                    <button type="reset" class="btn btn-danger" id="new-rule-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>