<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-users"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Employees</li>
            </ul>
            <h4>Employees</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row" ng-show="!singleView">
        <div class="col-md-12">
            <h5 class="lg-title mb5">Employees List</h5>
            <p class="mb20 pull-right"><a class="btn btn-primary" ui-sref="business.newemployee">New Employee Profile</a></p>
        </div>
    </div>

    <div class="row" ng-show="!singleView">
        <div class="col-md-12 text-center" ng-if="!dataFetched">
            <img alt="" src="images/loaders/loader10.gif">
        </div>
        <div class="col-md-12 employee-filter" ng-if="dataFetched">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="employee-name-filter" class="control-label">Name</label>
                        <input ng-model="nameFilter.name" type="text" id="employee-name-filter" class="form-control" placeholder="Name" />
                    </div><!-- form-group -->
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Business Unit</label>
                        <select2 ng-change="alterFilter()" options="options" ng-model="filter.businessUnitId" s2-options="businessUnit._id as businessUnit.name for businessUnit in businessUnits" style="width: 100%"></select2>
                    </div><!-- form-group -->
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Division</label>
                        <select2 ng-change="alterFilter()" options="options" ng-model="filter.divisionId" s2-options="division._id as division.name for division in divisions" style="width: 100%"></select2>
                    </div><!-- form-group -->
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Department</label>
                        <select2 ng-change="alterFilter()" options="options" ng-model="filter.departmentId" s2-options="department._id as department.name for department in departments" style="width: 100%"></select2>
                    </div><!-- form-group -->
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Position</label>
                        <select2 ng-change="alterFilter()" options="options" ng-model="filter.positionId" s2-options="position._id as position.name for position in positions" style="width: 100%"></select2>
                    </div><!-- form-group -->
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="employees.length === 0 && dataFetched">
            <div class="alert alert-danger text-center">
                <p>No Employee available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="employees.length > 0 && dataFetched">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Employee Id</th>
                        <th>Surname</th>
                        <th>First Name</th>
                        <th>Other Names</th>
                        <th>Business Unit</th>
                        <th>Division</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Date Employed</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" dir-paginate="employee in employees | filterEmployees:nameFilter | itemsPerPage: pageSize" current-page="currentPage">
                        <td>{{$index + 1}}</td>
                        <td>{{employee.employeeId}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.otherNames}}</td>
                        <td>{{getBusinessUnit(employee.businessUnitId).name}}</td>
                        <td>{{getDivision(employee.divisionId).name}}</td>
                        <td>{{getDepartment(employee.departmentId).name}}</td>
                        <td>{{getPosition(employee.positionId).name}}</td>
                        <td>{{employee.employmentDate | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <span ng-if="employee.status === 'Active'" class="label label-success">{{employee.status}}</span>
                            <span ng-if="employee.status === 'Inactive'" class="label label-danger">{{employee.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
        <div class="col-md-12 text-left">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div><!-- row -->

    <div class="row" ng-show="singleView">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Update - {{oldPayType.title}} Pay type</h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-pay-group-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="update-pay-group-code" class="form-control" placeholder="SNR-MAN" ng-model="singlePayGroup.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-pay-group-name" class="control-label">Name</label>
                                <input type="text" id="update-pay-group-name" class="form-control" placeholder="Senior Managers Pay Group" ng-model="singlePayGroup.name"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select2 options="options" ng-model="singlePayGroup.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12">
                            <span ng-show="histories.length > 0" class="pull-right">Last updated on {{getLastHistory().date | date:"MM/dd/yyyy 'at' h:mma"}}, by {{getLastHistory().user.username}}</span>
                        </div><!-- col-sm-12 -->
                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="updatePayGroup()">Update</button>
                    <button type="reset" class="btn btn-warning" ng-click="closePayGroup()">Cancel</button>
                    <button type="reset" class="btn btn-danger pull-right" ng-click="delete()">Delete</button>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div><!-- col-md-12 -->


        <div class="col-md-4">
            <h5 class="lg-title mb10">Edit History</h5>

            <div class="panel-group" id="accordion2">
                <div ng-repeat="history in histories" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href=".{{history._id}}">
                                <span>{{history.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                <span class="pull-right">{{history.user.username}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" ng-class="history._id">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" ng-repeat="activity in history.activities">
                                    <div class="well well-sm">{{activity | prettifyActivity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->

            </div><!-- panel-group -->

        </div><!-- col-md-4 -->

    </div>


</div><!-- contentpanel -->