<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-money"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Pay Types</li>
            </ul>
            <h4>Pay Types</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row" ng-show="!singleView">
        <div class="col-md-12">
            <h5 class="lg-title mb5">Pay Types</h5>
            <p class="mb20 pull-right"><button class="btn btn-primary" data-toggle="modal" data-target=".add-unit">New Pay Type</button></p>
        </div>
    </div>

    <div class="row" ng-show="!singleView">
        <div class="col-md-12" ng-if="payTypes.length === 0">
            <div class="alert alert-danger text-center">
                <p>No Pay Type available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="payTypes.length > 0">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Frequency</th>
                        <th>Taxable</th>
                        <th>Can Override</th>
                        <th>Derivative</th>
                        <th>Base</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-click="showPayType(payType)" ng-repeat="payType in payTypes">
                        <td>{{$index + 1}}</td>
                        <td>{{payType.code}}</td>
                        <td>{{payType.title}}</td>
                        <td>{{payType.type}}</td>
                        <td>{{payType.frequency}}</td>
                        <td>{{payType.taxable}}</td>
                        <td>{{payType.editablePerEmployee}}</td>
                        <td>{{payType.derivative}}</td>
                        <td>
                            <span ng-if="payType.isBase">Yes</span>
                            <span ng-if="!payType.isBase">No</span>
                        </td>
                        <td>
                            <span ng-if="payType.status === 'Active'" class="label label-success">{{payType.status}}</span>
                            <span ng-if="payType.status === 'Inactive'" class="label label-danger">{{payType.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div><!-- row -->

    <div class="row" ng-show="singleView">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Update - {{oldPayType.title}} Pay type</h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="update-pay-type-code" class="form-control" placeholder="Unique e.g BC1" ng-model="singlePayType.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-title" class="control-label">Title</label>
                                <input type="text" id="update-pay-type-title" class="form-control" placeholder="Basic Salary" ng-model="singlePayType.title"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-type" class="control-label">Type</label>
                                <select id="update-pay-type-type" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.type">
                                    <option value="">Choose One</option>
                                    <option value="Wage">Wage</option>
                                    <option value="Benefit">Benefit</option>
                                    <option value="Deduction">Deduction</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-derived" class="control-label">Derived</label>
                                <select id="update-pay-type-derived" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.derivative">
                                    <option value="">Choose One</option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="Formula">Formula</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->
                    </div><!-- row -->

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-frequency" class="control-label">Frequency</label>
                                <select id="update-pay-type-frequency" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.frequency">
                                    <option value="">Choose One</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    <option value="Bi-Annually">Bi-Annually</option>
                                    <option value="Annually">Annually</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-taxable" class="control-label">Taxable</label>
                                <select id="update-pay-type-taxable" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.taxable">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-active" class="control-label">Status</label>
                                <select id="update-pay-type-active" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.status">
                                    <option value="">Choose One</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-pay-type-employee-edit" class="control-label">Editable per Employee</label>
                                <select id="update-pay-type-employee-edit" class="form-control width100p" data-placeholder="Choose One" required ng-model="singlePayType.editablePerEmployee">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-4">
                            <div class="ckbox ckbox-success">
                                <input ng-checked="singlePayType.isBase" type="checkbox" id="update-pay-type-key-state" checked="checked" ng-model="singlePayType.isBase" />
                                <label for="update-pay-type-key-state">Base Type</label>
                            </div>
                        </div><!-- col-sm-4 -->

                        <div class="col-sm-12">
                            <span ng-show="histories.length > 0" class="pull-right">Last updated on {{getLastHistory().date | date:"MM/dd/yyyy 'at' h:mma"}}, by {{getLastHistory().user.username}}</span>
                        </div><!-- col-sm-12 -->

                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="updatePayType()">Update</button>
                    <button type="reset" class="btn btn-warning" ng-click="closePayType()">Cancel</button>
                    <button type="reset" class="btn btn-danger pull-right" ng-click="delete()">Delete</button>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div><!-- col-md-12 -->


        <div class="col-md-4">
            <h5 class="lg-title mb10">Edit History</h5>

            <div class="panel-group" id="accordion2">
                <div ng-repeat="history in histories" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href=".{{history._id}}">
                                <span>{{history.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                <span class="pull-right">{{history.user.username}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" ng-class="history._id">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" ng-repeat="activity in history.activities">
                                    <div class="well well-sm">{{activity | prettifyActivity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->

            </div><!-- panel-group -->

        </div><!-- col-md-4 -->

    </div>


</div><!-- contentpanel -->




<div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Pay Type</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="pay-type-code" class="form-control" placeholder="Unique e.g BC1" ng-model="payType.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-title" class="control-label">Title</label>
                                <input type="text" id="pay-type-title" class="form-control" placeholder="Basic Salary" ng-model="payType.title"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-type" class="control-label">Type</label>
                                <select id="pay-type-type" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.type">
                                    <option value="">Choose One</option>
                                    <option value="Wage">Wage</option>
                                    <option value="Benefit">Benefit</option>
                                    <option value="Deduction">Deduction</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-derived" class="control-label">Derived</label>
                                <select id="pay-type-derived" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.derivative">
                                    <option value="">Choose One</option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="Formula">Formula</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->
                    </div><!-- row -->

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-frequency" class="control-label">Frequency</label>
                                <select id="pay-type-frequency" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.frequency">
                                    <option value="">Choose One</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    <option value="Bi-Annually">Bi-Annually</option>
                                    <option value="Annually">Annually</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-taxable" class="control-label">Taxable</label>
                                <select id="pay-type-taxable" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.taxable">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-active" class="control-label">Status</label>
                                <select id="pay-type-active" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.status">
                                    <option value="">Choose One</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-employee-edit" class="control-label">Editable per Employee</label>
                                <select id="pay-type-employee-edit" class="form-control width100p" data-placeholder="Choose One" required ng-model="payType.editablePerEmployee">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-4">
                            <div class="ckbox ckbox-success">
                                <input ng-checked="payType.isBase" type="checkbox" id="pay-type-key-state" checked="checked" ng-model="payType.isBase" />
                                <label for="pay-type-key-state">Base Type</label>
                            </div>
                        </div><!-- col-sm-4 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="createPayType()">Save</button>
                    <button type="reset" class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>