<div class="pageheader">
  <div class="media">
    <div class="pageicon pull-left">
      <i class="fa fa-calendar"></i>
    </div>
    <div class="media-body">
      <ul class="breadcrumb">
        <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a ui-sref="business.overview">Business</a></li>
        <li>{{$parent.business.name}}</li>
        <li>Leave</li>
      </ul>
      <h4>Leave</h4>
    </div>
  </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">



  <div class="row pay-runs-header">
    <div class="col-md-12">
      <h5 class="lg-title mb5">Leave Info</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-if="dataFetched">
      <div>
        <div class="table-responsive">
          <table class="table mb60">
            <thead>
            <tr>
              <th>Leave Type</th>
              <th>Valid From</th>
              <th>Valid Until</th>
              <th>Total</th>
              <th>Taken</th>
              <th>Balance</th>
              <th>Planned</th>
              <th>Net Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="leave in employeePosition.leave">
              <td>{{leave.type}}</td>
              <td>{{getStartOfYear() | date:"yyyy-MM-dd"}}</td>
              <td>{{getEndOfYear() | date:"yyyy-MM-dd"}}</td>
              <td>{{leave.numberOfDays + ' days'}}</td>
              <td>{{getLeaveDaysTaken(leave.type) + ' days'}}</td>
              <td>{{leave.numberOfDays - getLeaveDaysTaken(leave.type) + ' days'}}</td>
              <td>{{getLeaveDaysPlanned(leave.type) + ' days'}}</td>
              <td>{{getNetLeaveBalance(leave) + ' days'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="mb20 pull-right"><button class="btn btn-primary btn-sm" id="new-leave-modal-button" data-toggle="modal" data-target=".request-leave">New Leave Application</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center" ng-if="!dataFetched">
      <img alt="" src="images/loaders/loader10.gif">
    </div>
    <div class="col-md-12 employee-filter" ng-show="dataFetched">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">From</label>
            <adm-dtp ng-model="filter.startDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">To</label>
            <adm-dtp ng-model="filter.endDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Approval Status</label>
            <select2 ng-change="alterFilter()" options="options" ng-model="filter.approvalStatus" s2-options="approvalStatus as approvalStatus for approvalStatus in approvalStatuses" style="width: 100%"></select2>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Status</label>
            <select2 ng-change="alterFilter()" options="options" ng-model="filter.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
          </div><!-- form-group -->
        </div>
      </div>
    </div>
    <div class="col-md-12" ng-if="leaves.length === 0 && dataFetched">
      <div class="alert alert-danger text-center">
        <p>No Leave available</p>
      </div>
    </div>
    <div class="col-md-12" ng-if="leaves.length > 0 && dataFetched">
      <div class="table-responsive">
        <table class="table table-primary mb60 table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Approval Status</th>
            <th>Approved By</th>
            <th>Date Created</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="pointer" ng-repeat="leave in leaves">
            <td>{{$index + 1}}</td>
            <td>{{leave.startDate | date:"yyyy-MM-dd"}}</td>
            <td>{{leave.endDate | date:"yyyy-MM-dd"}}</td>
            <td>{{leave.duration}}</td>
            <td>{{leave.type}}</td>
            <td>{{leave.description}}</td>
            <td>{{leave.status}}</td>
            <td>
              <span class="{{getLabelClass(leave.approvalStatus)}}">{{leave.approvalStatus}}</span>
            </td>
            <td>{{leave.approvedBy.name}}</td>
            <td>{{leave.createdAt | date:"yyyy-MM-dd"}}</td>
            <td>
              <i ng-if="leave.status === 'Draft'" ng-click="edit(leave)" class="fa fa-pencil-square-o action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></i>
              <i ng-if="leave.approvalStatus === 'Pending'" ng-click="delete(leave)" class="fa fa-trash action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i>
              <i ng-if="leave.approvalStatus === 'Pending' && leave.status === 'Draft'" ng-click="send(leave)" class="fa fa-check action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Confirm and Send"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div>
  </div><!-- row -->


</div><!-- contentpanel -->





<div class="modal fade request-leave" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{getModalTitle()}}</h3>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-sm-5">
              <div class="form-group">
                <label for="new-leave-start-date" class="control-label">Start Date</label>
                <div id="new-leave-start-date" class="input-group" style="margin-top:5px;">
                  <adm-dtp ng-model="newLeave.startDate" on-change="setDuration()"></adm-dtp>
                </div>
              </div><!-- form-group -->
            </div><!-- col-sm-5 -->

            <div class="col-sm-5">
              <div class="form-group">
                <label for="new-leave-end-date" class="control-label">End Date</label>
                <div id="new-leave-end-date" class="input-group" style="margin-top:5px;">
                  <adm-dtp ng-model="newLeave.endDate" on-change="setDuration()"></adm-dtp>
                </div>
              </div><!-- form-group -->
            </div><!-- col-sm-5 -->

            <div class="col-sm-2">
              <div class="form-group">
                <label class="control-label">Duration</label>
                <div class="input-group" style="margin-top:5px;">
                  {{newLeave.duration}} day(s).
                </div>
              </div><!-- form-group -->
            </div><!-- col-sm-2 -->

          </div><!-- row -->

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Leave Type</label>
                <select2 options="options" ng-model="newLeave.type" s2-options="leaveType.type as leaveType.type for leaveType in leaveTypes" style="width: 100%"></select2>
              </div><!-- form-group -->
            </div><!-- col-sm-12 -->

          </div><!-- row -->

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <label for="new-leave-description" class="control-label">Description</label>
                <textarea id="new-leave-description" ng-model="newLeave.description" class="form-control" rows="3"></textarea>
              </div><!-- form-group -->
            </div><!-- col-sm-12 -->

          </div><!-- row -->

        </div>
        <div class="panel-footer">
          <button ng-if="!isEdit" class="btn btn-primary mr5" ng-click="createLeave()">Create Leave</button>
          <button ng-if="isEdit" class="btn btn-primary mr5" ng-click="update()">Update Leave Request</button>
          <button type="reset" class="btn btn-danger" ng-click="cancel()" id="new-leave-close" data-dismiss="modal">Cancel</button>
        </div><!-- panel-footer -->
      </div>
    </div>
  </div>
</div>
