<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-users"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li><a href="">Employees</a></li>
                <li>New</li>
            </ul>
            <h4>New Employee</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">


    <div class="row">


        <div class="col-sm-4 col-md-3">
            <div class="text-center">
                <img src="images/photos/avatar.jpg" id="profile-img" class="img-thumbnail img-offline img-responsive img-profile" alt=""/>
                <br><br>
                <span class="btn btn-primary btn-file">
                    Select Image <input id="uploadBtn" class="center-block" type="file" ng-file-select="fileSelected($files)" accept="'image/*'" />
                </span><br>
                <span>{{file.name}}</span>
            </div>
            <!-- text-center -->

        </div>
        <!-- col-sm-4 col-md-3 -->

        <div class="col-sm-8 col-md-9">

            <div class="row">
                <!-- Nav tabs -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active: inView === 'Personal Details'}"><a ng-click="changeView('Personal Details')" style="cursor: pointer;">Personal Details </a></li>
                        <li ng-class="{active: inView === 'Employment Details'}"><a ng-click="changeView('Employment Details')" style="cursor: pointer;">Employment Details </a></li>
                        <li ng-class="{active: inView === 'Payment Details'}"><a ng-click="changeView('Payment Details')" style="cursor: pointer;">Payment Details </a></li>
                        <li ng-class="{active: inView === 'Payroll Details'}"><a ng-click="changeView('Payroll Details')" style="cursor: pointer;">Payroll Details </a></li>
                    </ul>
                </div><!-- col-md-12 -->

                <div class="col-md-12" ng-show="inView === 'Personal Details'">
                    <div class="tab-pane active" id="activities">
                        <div class="panel panel-default">

                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Employee ID</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.employeeId" type="text" placeholder="Unique" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            Last ID used:
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">First Name</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.firstName" type="text" placeholder="First Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Last Name</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.lastName" type="text" placeholder="Last Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Other Names</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.otherNames" type="text" placeholder="Other Names" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Date of Birth</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            <adm-dtp ng-model="employee.dateOfBirth"></adm-dtp>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Gender</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.gender" options="options" s2-options="gender as gender for gender in genders" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Marital
                                            Status</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.maritalStatus" options="options" s2-options="status as status for status in maritalStatus" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-email" class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.email" type="email" id="employee-email" placeholder="Email" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-phone" class="col-sm-4 control-label">Phone Number</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.phone" type="tel" id="employee-phone" placeholder="Phone Number" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-address" class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-4">
                                            <textarea ng-model="employee.address" id="employee-address" class="form-control" rows="5"></textarea>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="employee-city" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.city" id="employee-city" type="text" placeholder="City" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">State</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.state" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <h5>Next of Kin/Guarantor</h5></div>

                                    </div>
                                    <div class="form-group">
                                        <label for="employee-guarantor-name" class="col-sm-4 control-label">Full
                                            Name</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.guarantor.fullName" id="employee-guarantor-name" type="text" placeholder="Guarantor's Full Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="employee-guarantor-email"
                                               class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.guarantor.email" id="employee-guarantor-email" type="email" placeholder="Guarantor's Email" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-guarantor-phone" class="col-sm-4 control-label">Phone
                                            Number</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.guarantor.phone" id="employee-guarantor-phone" type="tel" placeholder="Guarantor's Phone" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-guarantor-address"
                                               class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-4">
                                            <textarea ng-model="employee.guarantor.address" id="employee-guarantor-address" class="form-control" rows="5"></textarea>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="employee-guarantor-city" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.guarantor.city" id="employee-guarantor-city" type="text" placeholder="Guarantor's City" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">State</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.guarantor.state" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                </div>

                <div class="col-md-12" ng-show="inView === 'Employment Details'">
                    <div class="tab-pane" id="followers">
                        <div class="panel panel-default">

                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Location</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.location" options="options" s2-options="state as state for state in states" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.businessUnitId" options="options" s2-options="businessUnit._id as businessUnit.name for businessUnit in businessUnits" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Division</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.divisionId" options="options" s2-options="division._id as division.name for division in filteredDivisions" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Department</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.departmentId" options="options" s2-options="department._id as department.name for department in filteredDepartments" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Position</label>
                                        <div class="col-sm-4">
                                            <select2 ng-change="checkValidity()" ng-model="employee.positionId" options="options" s2-options="position._id as position.name for position in filteredPositions" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <span class="label label-danger">{{message}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hire Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            <adm-dtp ng-model="employee.employmentDate"></adm-dtp>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Confirmation Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            <adm-dtp ng-model="employee.confirmationDate"></adm-dtp>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.status" options="options" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Termination/Resignation Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            <adm-dtp ng-model="employee.terminationDate"></adm-dtp>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                </div>

                <div class="col-md-12" ng-show="inView === 'Payment Details'">
                    <div class="tab-pane" id="following">
                        <div class="panel panel-default">

                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Payment Method</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.paymentDetails.paymentMethod" options="options" s2-options="method as method for method in paymentMethods" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.paymentDetails.bank" options="options" s2-options="bank as bank for bank in banks" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank Account No.</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.paymentDetails.accountNumber" type="text" placeholder="Account Number" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank Account Name</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.paymentDetails.accountName" type="text" placeholder="Account Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Pension Manager</label>
                                        <div class="col-sm-4">
                                            <select2 ng-model="employee.paymentDetails.pensionManager" options="options" s2-options="manager._id as manager.name for manager in pensionManagers" style="width: 100%"></select2>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">RSA Pin</label>
                                        <div class="col-sm-4">
                                            <input ng-model="employee.paymentDetails.RSAPin" type="text" placeholder="RSA Pin" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                </div>

                <div class="col-md-12" ng-show="inView === 'Payroll Details'">
                    <div class="tab-pane" id="following">
                        <div class="panel panel-default">

                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <h5>Payroll Information</h5>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Wages</h6>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row" ng-repeat="wage in getTypes('Wage') track by $index">
                                                    <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                    <div class="col-sm-1 text-right" style="padding-right:5px;">
                                                        <span><a ng-click="removePayType(wage)" class="fa fa-times text-danger pointer"></a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm">
                                                            <span ng-click="openType(wage)" class="input-group-addon pointer" style="width:150px">{{wage.code}} - {{wage.title}}</span>
                                                            <input ng-model="wage.value" type="number" placeholder="" class="form-control" ng-disabled="wage.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm" ng-if="wage.derived !== 'Fixed'">
                                                            <span class="input-group-addon" style="width:150px">Formula</span>
                                                            <input ng-model="wage.derivative" type="text" placeholder="" class="form-control" ng-disabled="wage.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a ng-click="showOptions('Wage')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add wage]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Benefits</h6>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row" ng-repeat="benefit in getTypes('Benefit') track by $index">
                                                    <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                    <div class="col-sm-1 text-right" style="padding-right:0px;">
                                                        <span><a ng-click="removePayType(benefit)" class="fa fa-times text-danger pointer" style="vertical-align:middle"></a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm">
                                                            <span ng-click="openType(benefit)" class="input-group-addon pointer" style="width:150px">{{benefit.code}} - {{benefit.title}}</span>
                                                            <input ng-model="benefit.value" type="number" placeholder="" class="form-control" ng-disabled="benefit.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm" ng-if="benefit.derived !== 'Fixed'">
                                                            <span class="input-group-addon" style="width:150px">Formula</span>
                                                            <input ng-model="benefit.derivative" type="text" placeholder="" class="form-control" ng-disabled="benefit.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a ng-click="showOptions('Benefit')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add benefit]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Deductions</h6>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row" ng-repeat="deduction in getTypes('Deduction') track by $index">
                                                    <label class="col-sm-3"><h6>&nbsp;</h6></label>
                                                    <div class="col-sm-1 text-right" style="padding-right:0px;">
                                                        <span><a ng-click="removePayType(deduction)" class="fa fa-times text-danger pointer" style="vertical-align:middle"></a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm">
                                                            <span ng-click="openType(deduction)" class="input-group-addon pointer" style="width:150px">{{deduction.code}} - {{deduction.title}}</span>
                                                            <input ng-model="deduction.value" type="number" placeholder="" class="form-control" ng-disabled="deduction.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-sm" ng-if="deduction.derived !== 'Fixed'">
                                                            <span class="input-group-addon" style="width:150px">Formula</span>
                                                            <input ng-model="deduction.derivative" type="text" placeholder="" class="form-control" ng-disabled="deduction.editablePerEmployee === 'No'"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a ng-click="showOptions('Deduction')" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add deduction]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5><a class="pointer" ng-click="prepareSummary()" data-toggle="modal" data-target=".payroll-summary">View Payroll Summary</a></h5>
                                            </div>
                                            <div class="col-sm-6">
                                                <h5 class="text-right"><a class="pointer" data-toggle="modal" data-target=".restore-removed">Restore</a></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled wizard">
                                                <li class="pull-right">
                                                    <button type="button" class="btn btn-primary" ng-click="createEmployee()">Save</button>
                                                </li>
                                            </ul>
                                        </div><!-- col-md-12 -->
                                    </div>
                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                </div>

            </div>

        </div><!-- col-sm-9 -->

    </div><!-- row -->

</div><!-- contentpanel -->


<div class="modal fade add-custom-type" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Custom Pay Type</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="pay-type-code" class="form-control" placeholder="Unique e.g BC1" ng-model="customType.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-title" class="control-label">Title</label>
                                <input type="text" id="pay-type-title" class="form-control" placeholder="Basic Salary" ng-model="customType.title"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-type" class="control-label">Type</label>
                                <select id="pay-type-type" disabled class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.type">
                                    <option value="">Choose One</option>
                                    <option value="Wage">Wage</option>
                                    <option value="Benefit">Benefit</option>
                                    <option value="Deduction">Deduction</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-derived" class="control-label">Derived</label>
                                <select id="pay-type-derived" disabled class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.derived">
                                    <option value="">Choose One</option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="Formula">Formula</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->
                    </div><!-- row -->

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-frequency" class="control-label">Frequency</label>
                                <select id="pay-type-frequency" class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.frequency">
                                    <option value="">Choose One</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    <option value="Bi-Annually">Bi-Annually</option>
                                    <option value="Annually">Annually</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-taxable" class="control-label">Taxable</label>
                                <select id="pay-type-taxable" disabled class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.taxable">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-active" class="control-label">Status</label>
                                <select id="pay-type-active" disabled class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.status">
                                    <option value="">Choose One</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pay-type-employee-edit" class="control-label">Editable per Employee</label>
                                <select id="pay-type-employee-edit" disabled class="form-control width100p" data-placeholder="Choose One" required ng-model="customType.editablePerEmployee">
                                    <option value="">Choose One</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->

                        <div class="col-sm-4">
                            <div class="ckbox ckbox-success">
                                <input ng-checked="payType.isBase" type="checkbox" id="pay-type-key-state" checked="checked" ng-model="customType.save" />
                                <label for="pay-type-key-state">Save to database</label>
                            </div>
                        </div><!-- col-sm-4 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="addCustomPayType()">Add</button>
                    <button type="reset" class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade payroll-summary" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Summary</h3>
                </div>
                <div id="payroll-summary" class="panel-body big-font">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="lg-title mb5 text-center">{{business.name}}</h5>
                            <p class="mb20 text-center">Payroll Summary</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Pay Components</th>
                                        <th>Amount ( ₦  )</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="payType in getNonDeductions()">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Gross Pay: </b></td>
                                        <td><b>{{getPaymentGross() | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr ng-repeat="payType in getDeductions()">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total Deductions: </b></td>
                                        <td><b>{{getTotalDeductions() | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td><b>Net Pay: </b></td>
                                        <td><b>{{getNetPayment() | currency:""}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div>
                <div class="panel-footer">
                    <button type="reset" ng-click="resetSummary()" class="btn btn-danger" id="payroll-summary-close" data-dismiss="modal">Close</button>
                    <button type="reset" ng-click="print('payroll-summary')" class="btn btn-info" id="payroll-summary-print">Print</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade restore-removed" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exempted Pay Components</h3>
                </div>
                <div class="panel-body big-font">
                    <div class="row">
                        <div class="col-md-12" ng-if="employee.exemptedPayTypes.length === 0">
                            <div class="alert alert-danger text-center">
                                <p>No Exempted pay types.</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="employee.exemptedPayTypes.length > 0">
                            <h5 class="lg-title mb5 text-center">Restore exempted pay components</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered mb30">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="payType in employee.exemptedPayTypes">
                                        <td>{{$index + 1}}</td>
                                        <td>{{payType.code}}</td>
                                        <td>{{payType.title}}</td>
                                        <td><i class="fa fa-recycle pointer" ng-click="restore(payType)" data-toggle="tooltip" title="Restore"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div>
                <div class="panel-footer">
                    <button type="reset" ng-click="resetSummary()" class="btn btn-danger" id="exempted-pay-components" data-dismiss="modal">Close</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>


<!-- Predefined pay types modal -->
<button ng-hide="true" id="predefined-modal-button" data-toggle="modal" data-target=".predefined-types"></button>
<button ng-hide="true" id="new-type-modal-button" data-toggle="modal" data-target=".add-custom-type"></button>
<div class="modal fade predefined-types" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add custom pay type</h3>
                </div>
                <div class="panel-body big-font">

                    <div class="row">
                        <div class="col-md-12" ng-if="fetchedPayTypes.length === 0">
                            <div class="alert alert-danger text-center">
                                <p>No Pay Type available</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="fetchedPayTypes.length > 0">
                            <div class="table-responsive">
                                <table class="table table-primary mb60 table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Frequency</th>
                                        <th>Taxable</th>
                                        <th>Can Override</th>
                                        <th>Derivative</th>
                                        <th>Base</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="pointer" ng-click="addCustomPayType(payType)" ng-repeat="payType in fetchedPayTypes | customTypesFilter:currentPayGrade.payTypes.concat(employee.customPayTypes)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{payType.code}}</td>
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.type}}</td>
                                        <td>{{payType.frequency}}</td>
                                        <td>{{payType.taxable}}</td>
                                        <td>{{payType.editablePerEmployee}}</td>
                                        <td>{{payType.derived}}</td>
                                        <td>
                                            <span ng-if="payType.isBase">Yes</span>
                                            <span ng-if="!payType.isBase">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="payType.status === 'Active'" class="label label-success">{{payType.status}}</span>
                                            <span ng-if="payType.status === 'Inactive'" class="label label-danger">{{payType.status}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div>
                    </div><!-- row -->

                </div>
            </div>
            <div class="panel-footer">
                <button type="reset" class="btn btn-danger" id="predefined-modal-close" data-dismiss="modal">Close</button>
            </div><!-- panel-footer -->
        </div>
    </div>
</div>


