<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-minus-square"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Pay Rules</a></li>
                <li>Deductions</li>
            </ul>
            <h4>Deductions</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->