<div class="media profile-left">
    <a class="pull-left profile-thumb" href="profile.html">
        <img class="img-circle" ng-src="{{user.avatar}}" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{user.name}}</h4>
        <small class="text-muted">{{user.username}}</small>
    </div>
</div><!-- media -->

<h5 class="leftpanel-title">Navigation</h5>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: inView === 'DashBoard'}" ng-click="toggleActive('DashBoard')"><a ui-sref="business.overview"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li ng-class="{active: inView === 'Business'}" class="parent" ng-click="toggleActive('Business')"><a href=""><i class="fa fa-university"></i> <span>Business</span></a>
        <ul class="children">
            <li ng-class="{active: inView === 'Update Business Info'}" ng-click="toggleActive('Update Business Info')"><a ui-sref="business.updatebusiness">Update Business Info</a></li>
            <li ng-class="{active: inView === 'Business Units'}" ng-click="toggleActive('Business Units')"><a ui-sref="business.units">Business Units</a></li>
            <li ng-class="{active: inView === 'Divisions'}" ng-click="toggleActive('Divisions')"><a ui-sref="business.divisions">Divisions</a></li>
            <li ng-class="{active: inView === 'Departments'}" ng-click="toggleActive('Departments')"><a ui-sref="business.departments">Departments</a></li>
            <li ng-class="{active: inView === 'Positions'}" ng-click="toggleActive('Positions')"><a ui-sref="business.positions">Positions</a></li>
            <li ng-class="{active: inView === 'Org Chart'}" ng-click="toggleActive('Org Chart')"><a ui-sref="business.orgchart">Org Chart</a></li>
        </ul>
    </li>
    <li ng-class="{active: inView === 'Pay Rules'}" class="parent"><a href=""><i class="fa fa-money"></i> <span>Pay Rules</span></a>
        <ul class="children">
            <li ng-class="{active: inView === 'Pay Groups'}" ng-click="toggleActive('Pay Groups')"><a ui-sref="business.paygroups">Pay Groups</a></li>
            <li ng-class="{active: inView === 'Pay Types'}" ng-click="toggleActive('Pay Types')"><a ui-sref="business.payment">Pay Types</a></li>
            <li ng-class="{active: inView === 'Pay Grades'}" ng-click="toggleActive('Pay Grades')"><a ui-sref="business.paygrades">Pay Grades</a></li>
            <li ng-class="{active: inView === 'Taxes'}" ng-click="toggleActive('Taxes')"><a ui-sref="business.taxes">Taxes</a></li>
            <li ng-class="{active: inView === 'Pensions'}" ng-click="toggleActive('Pensions')"><a ui-sref="business.pensions">Pensions</a></li>
        </ul>
    </li>
    <li ng-class="{active: inView === 'Employees'}" class="parent" ng-click="toggleActive('Employees')"><a href=""><i class="fa fa-users"></i> <span>Employees</span></a>
        <ul class="children">
            <li ng-class="{active: inView === 'New Employee'}" ng-click="toggleActive('New Employee')"><a ui-sref="business.newemployee">New Employee</a></li>
            <li ng-class="{active: inView === 'Manage Employees'}" ng-click="toggleActive('Manage Employees')"><a ui-sref="business.manageemployees">Manage Employees</a></li>
        </ul>
    </li>
    <li ng-class="{active: inView === 'Pay Runs'}" class="parent" ng-click="toggleActive('Pay Runs')"><a href=""><i class="fa fa-refresh"></i> <span>Pay Runs</span></a>
        <ul class="children">
            <li ng-class="{active: inView === 'New Pay Run'}" ng-click="toggleActive('New Pay Run')"><a ui-sref="business.newpayrun">New Pay Run</a></li>
            <li ng-class="{active: inView === 'One Off Payments'}" ng-click="toggleActive('One Off Payments')"><a ui-sref="business.oneoff">One Off Payments</a></li>
            <li ng-class="{active: inView === 'Manage Pay Runs'}" ng-click="toggleActive('Manage Pay Runs')"><a ui-sref="business.payruns">Pay Runs</a></li>
        </ul>
    </li>
    <li ng-class="{active: inView === 'Loan Management'}" class="parent" ng-click="toggleActive('Loan Management')"><a href=""><i class="fa fa-bar-chart"></i> <span>Loan Management</span></a>
        <ul class="children">
            <li ng-class="{active: inView === 'New Loan Application'}" ng-click="toggleActive('New Loan Application')"><a ui-sref="business.newloan">New Loan Application</a></li>
            <!--<li ng-class="{active: inView === 'Payment Rules'}" ng-click="toggleActive('Payment Rules')"><a ui-sref="business.loanpaymentrules">Payment Rules</a></li>-->
            <li ng-class="{active: inView === 'Manage Loans'}" ng-click="toggleActive('Manage Loans')"><a ui-sref="business.loans">Manage Loans</a></li>
        </ul>
    </li>
    <li><a ui-sref="home.overview"><i class="fa fa-angle-double-left"></i> <span>Back to Home</span></a></li>
</ul>

<div ng-include="'modules/shared/footerscripts.html'"></div>