<div class="pageheader">
  <div class="media">
    <div class="pageicon pull-left">
      <i class="fa fa-money"></i>
    </div>
    <div class="media-body">
      <ul class="breadcrumb">
        <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a ui-sref="business.overview">Business</a></li>
        <li>{{business.name}}</li>
        <li>Expenses</li>
      </ul>
      <h4>Leave</h4>
    </div>
  </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">



  <div class="row pay-runs-header">
    <div class="col-md-12">
      <h5 class="lg-title mb5">Leave Requests</h5>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 text-center" ng-if="!dataFetched">
      <img alt="" src="images/loaders/loader10.gif">
    </div>
    <div class="col-md-12 employee-filter" ng-show="dataFetched">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">From</label>
            <adm-dtp ng-model="filter.startDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">To</label>
            <adm-dtp ng-model="filter.endDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Approval Status</label>
            <select2 ng-change="alterFilter()" options="filterOptions" ng-model="filter.approvalStatus" s2-options="approvalStatus as approvalStatus for approvalStatus in approvalStatuses" style="width: 100%"></select2>
          </div><!-- form-group -->
        </div>
      </div>
    </div>
    <div class="col-md-12" ng-if="leaves.length === 0 && dataFetched">
      <div class="alert alert-danger text-center">
        <p>No Leave request available</p>
      </div>
    </div>
    <div class="col-md-12" ng-if="leaves.length > 0 && dataFetched">
      <div class="table-responsive">
        <table class="table table-primary mb60 table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Employee</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Approval Status</th>
            <th>Approved By</th>
            <th>Date Created</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="pointer" ng-repeat="leave in leaves">


            <td>{{$index + 1}}</td>
            <td>{{leave.startDate | date:"yyyy-MM-dd"}}</td>
            <td>{{leave.endDate | date:"yyyy-MM-dd"}}</td>
            <td>{{leave.employee.employeeId}} - {{leave.employee.fullName}}</td>
            <td>{{leave.duration}}</td>
            <td>{{leave.type}}</td>
            <td>{{leave.description}}</td>
            <td>{{leave.status}}</td>
            <td>
              <span class="{{getLabelClass(leave.approvalStatus)}}">{{leave.approvalStatus}}</span>
            </td>
            <td>{{leave.approvedBy.name}}</td>
            <td>{{leave.createdAt | date:"yyyy-MM-dd"}}</td>
            <td>
              <i ng-if="leave.approvalStatus === 'Pending'" ng-click="approve(leave, false)" class="fa fa-times action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Reject"></i>
              <i ng-if="leave.approvalStatus === 'Pending'" ng-click="approve(leave, true)" class="fa fa-check action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Approve"></i>
            </td>

          </tr>
          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div>
  </div><!-- row -->


</div><!-- contentpanel -->