<div class="pageheader">
  <div class="media">
    <div class="pageicon pull-left">
      <i class="fa fa-money"></i>
    </div>
    <div class="media-body">
      <ul class="breadcrumb">
        <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a ui-sref="business.overview">Business</a></li>
        <li>{{$parent.business.name}}</li>
        <li>Expenses</li>
      </ul>
      <h4>Expenses</h4>
    </div>
  </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">



  <div class="row pay-runs-header">
    <div class="col-md-12">
      <h5 class="lg-title mb5">Expenses</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="mb20 pull-right"><button class="btn btn-primary btn-sm" id="new-expense-modal-button" data-toggle="modal" data-target=".log-time">New Expense</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center" ng-if="!dataFetched">
      <img alt="" src="images/loaders/loader10.gif">
    </div>
    <div class="col-md-12 employee-filter" ng-show="dataFetched">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">From</label>
            <adm-dtp ng-model="filter.startDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" style="margin-top:7px;">To</label>
            <adm-dtp ng-model="filter.endDate" on-change="alterFilter()"></adm-dtp>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Approval Status</label>
            <select2 ng-change="alterFilter()" options="filterOptions" ng-model="filter.approvalStatus" s2-options="approvalStatus as approvalStatus for approvalStatus in approvalStatuses" style="width: 100%"></select2>
          </div><!-- form-group -->
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Status</label>
            <select2 ng-change="alterFilter()" options="filterOptions" ng-model="filter.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
          </div><!-- form-group -->
        </div>
      </div>
    </div>
    <div class="col-md-12" ng-if="expenses.length === 0 && dataFetched">
      <div class="alert alert-danger text-center">
        <p>No Expense available</p>
      </div>
    </div>
    <div class="col-md-12" ng-if="expenses.length > 0 && dataFetched">
      <div class="table-responsive">
        <table class="table table-primary mb60 table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Expense Type</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Attachments</th>
            <th>Status</th>
            <th>Approval Status</th>
            <th>Approved By</th>
            <th>Serviced</th>
            <th>Date Created</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="pointer" ng-repeat="expense in expenses">
            <td>{{$index + 1}}</td>
            <td>{{expense.from | date:"yyyy-MM-dd"}}</td>
            <td>{{expense.to | date:"yyyy-MM-dd"}}</td>
            <td>{{getExpenseLabel(expense)}}</td>
            <td>{{expense.amount | currency:""}}</td>
            <td>{{expense.description}}</td>
            <td>
              <span ng-if="expense.attachments.length > 0" class="pointer"><a data-toggle="modal" data-target=".attachments" ng-click="viewAttachments(expense.attachments)">Show</a></span>
              <span ng-if="expense.attachments.length === 0">No attachment.</span>
            </td>
            <td>{{expense.status}}</td>
            <td>
              <span class="{{getLabelClass(expense.approvalStatus)}}">{{expense.approvalStatus}}</span>
            </td>
            <td>{{expense.approvedBy.name}}</td>
            <td>{{getServicedStatus(expense.serviced)}}</td>
            <td>{{expense.createdAt | date:"yyyy-MM-dd"}}</td>
            <td>
              <i ng-if="expense.status === 'Draft'" ng-click="edit(expense)" class="fa fa-pencil-square-o action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></i>
              <i ng-if="expense.approvalStatus === 'Pending'" ng-click="delete(expense)" class="fa fa-trash action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i>
              <i ng-if="expense.approvalStatus === 'Pending' && expense.status === 'Draft'" ng-click="send(expense)" class="fa fa-check action-buttons" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Confirm and Send"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div>
  </div><!-- row -->


</div><!-- contentpanel -->





<div class="modal fade log-time" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{getModalTitle()}}</h3>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="new-expense-from" class="control-label">From</label>
                <div id="new-expense-from" class="input-group" style="margin-top:5px;">
                  <adm-dtp ng-model="newExpense.from" on-change="evaluateExpense()"></adm-dtp>
                </div>
              </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-group">
                <label for="new-expense-to" class="control-label">To</label>
                <div id="new-expense-to" class="input-group" style="margin-top:5px;">
                  <adm-dtp ng-model="newExpense.to" on-change="evaluateExpense()"></adm-dtp>
                </div>
              </div><!-- form-group -->
            </div><!-- col-sm-6 -->

          </div><!-- row -->

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Expense Type</label>
                <select2 ng-change="evaluateExpense()" options="filterOptions" ng-model="newExpense.type" s2-options="expenseType.id as expenseType.name for expenseType in expenseTypes" style="width: 100%"></select2>
              </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-group">
                <label for="new-expense-amount" class="control-label">Amount</label>
                <input type="number" ng-disabled="getExpenseTypeStatus()" id="new-expense-amount" class="form-control" placeholder="0.00" ng-model="newExpense.amount"/>
              </div><!-- form-group -->
            </div><!-- col-sm-6 -->

          </div><!-- row -->

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <label for="new-expense-description" class="control-label">Description</label>
                <textarea id="new-expense-description" ng-model="newExpense.description" class="form-control" rows="3"></textarea>
              </div><!-- form-group -->
            </div><!-- col-sm-12 -->

            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Attachments</label><br />
                <span class="btn btn-primary btn-file">
                    Select Files <input id="uploadBtn" class="center-block" type="file" ng-file-select="fileSelected($files)" multiple />
                </span><br /><br />
                <div ng-click="removeAttachment($index)" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remove" class="label label-success pointer" style="margin-top: 10px;margin-right: 3px;" ng-repeat="file in files">
                  {{file.name }}
                </div>
              </div><!-- form-group -->
            </div>

          </div><!-- row -->

        </div>
        <div class="panel-footer">
          <button ng-if="!isEdit" class="btn btn-primary mr5" ng-click="uploadAttachments()">Create Expense</button>
          <button ng-if="isEdit" class="btn btn-primary mr5" ng-click="update()">Update Expense</button>
          <button type="reset" class="btn btn-danger" ng-click="cancel()" id="new-expense-close" data-dismiss="modal">Cancel</button>
        </div><!-- panel-footer -->
      </div>
    </div>
  </div>
</div>



<div class="modal fade attachments" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Attachments</h3>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-md-4">
              <table class="table table-striped table-bordered mb5">
                <tbody>
                <tr ng-repeat="attachment in attachments">
                  <td>
                    <a class="pointer" ng-click="viewSingleAttachment(attachment)">{{attachment.originalname}}</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-8">
              <iframe src="{{getSingleAttachmentPath()}}" style="width:400px; height:500px;" frameborder="0"></iframe>
              <!--<embed src="{{getSingleAttachmentPath()}}" width="300px" height="500px">-->
            </div>

          </div>

        </div>
        <div class="panel-footer">
          <button type="reset" ng-click="resetAttachments()" class="btn btn-info" id="view-attachments" data-dismiss="modal">Close</button>
        </div><!-- panel-footer -->
      </div>
    </div>
  </div>
</div>
