
<div class="modal fade add-pension" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Pension Rule</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-code" class="control-label">Code (alphanumeric)</label>
                                <input type="text" id="tax-code" class="form-control" placeholder="Code" ng-model="pension.code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tax-name" class="control-label">Name</label>
                                <input type="text" id="tax-name" class="form-control" placeholder="Name" ng-model="pension.name"/>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="createPension()">Create</button>
                    <button type="reset" class="btn btn-danger" id="new-pension-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>

<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-money"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Pensions</li>
            </ul>
            <h4>Pensions</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="col-sm-12 col-md-12">

        <div class="row">
            <!-- Nav tabs -->
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: inView === 'Pension Rules'}">
                        <a ng-click="changeView('Pension Rules')" style="cursor: pointer;">Pension Rules</a>
                    </li>
                    <li ng-class="{active: inView === 'Pension Managers'}">
                        <a ng-click="changeView('Pension Managers')" style="cursor: pointer;">Pension Managers</a>
                    </li>
                </ul>
            </div><!-- col-md-12 -->

            <div class="col-md-12" ng-show="inView === 'Pension Rules'">
                <div class="tab-pane active" id="activities">
                    <div class="row" ng-show="!singlePensionView" style="margin-top: 25px; margin-left: 10px; margin-right: 10px;">
                        <div class="col-md-12">
                            <p class="mb20 pull-right"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".add-pension">New Pension Rule</button></p>
                        </div>
                    </div>

                    <div class="row" ng-show="!singlePensionView" style="margin-left: 10px; margin-right: 10px;">
                        <div class="col-md-12" ng-if="pensions.length === 0">
                            <div class="alert alert-danger text-center">
                                <p>No Pension available</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="pensions.length > 0">
                            <div class="table-responsive">
                                <table class="table table-primary mb60 table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Employee %</th>
                                        <th>Employer %</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="pointer" ng-click="showPension(pension)" ng-repeat="pension in pensions">
                                        <td>{{$index + 1}}</td>
                                        <td>{{pension.code}}</td>
                                        <td>{{pension.name}}</td>
                                        <td>{{pension.employeeContributionRate}}</td>
                                        <td>{{pension.employerContributionRate}}</td>
                                        <td>
                                            <span ng-if="pension.status === 'Active'" class="label label-success">{{pension.status}}</span>
                                            <span ng-if="pension.status === 'Inactive'" class="label label-danger">{{pension.status}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div>
                    </div><!-- row -->

                    <div class="row" ng-show="singlePensionView" style="margin-top: 25px; margin-left: 10px; margin-right: 10px;">

                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Update - {{oldPension.name}} Pension</h4>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="update-pay-group-code" class="control-label">Code (alphanumeric)</label>
                                                <input type="text" id="update-pay-group-code" class="form-control" placeholder="Code" ng-model="singlePension.code" />
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-6 -->

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="update-pay-group-name" class="control-label">Name</label>
                                                <input type="text" id="update-pay-group-name" class="form-control" placeholder="Name" ng-model="singlePension.name"/>
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-6 -->

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Pay Types</label>
                                                <select2 ng-model="singlePension.payTypes" multiple="multiple" s2-options="types._id as types.title for types in payTypes" style="width: 100%"></select2>
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-12 -->

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Employer's Contribution</label>
                                                <input type="number" class="form-control" placeholder="Name" ng-model="singlePension.employerContributionRate"/>
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-6 -->

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Employee's Contribution</label>
                                                <input type="number" class="form-control" placeholder="Name" ng-model="singlePension.employeeContributionRate"/>
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-6 -->

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <select2 ng-model="singlePension.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                                            </div><!-- form-group -->
                                        </div><!-- col-sm-12 -->


                                        <div class="col-sm-12">
                                            <span ng-show="histories.length > 0" class="pull-right">Last updated on {{getLastHistory().date | date:"MM/dd/yyyy 'at' h:mma"}}, by {{getLastHistory().user.username}}</span>
                                        </div><!-- col-sm-12 -->
                                    </div><!-- row -->

                                </div><!-- panel-body -->
                                <div class="panel-footer">
                                    <button class="btn btn-primary mr5" ng-click="updatePension()">Update</button>
                                    <button type="reset" class="btn btn-warning" ng-click="closePension()">Cancel</button>
                                    <button type="reset" class="btn btn-danger pull-right" ng-click="deletePension()">Delete</button>
                                </div><!-- panel-footer -->
                            </div><!-- panel -->

                        </div><!-- col-md-12 -->


                        <div class="col-md-4">
                            <h5 class="lg-title mb10">Edit History</h5>

                            <div class="panel-group" id="accordion2">
                                <div ng-repeat="history in histories" class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href=".{{history._id}}">
                                                <span>{{history.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                                <span class="pull-right">{{history.user.username}}</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" ng-class="history._id">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12" ng-repeat="activity in history.activities">
                                                    <div class="well well-sm">{{activity | prettifyActivity}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel -->

                            </div><!-- panel-group -->

                        </div><!-- col-md-4 -->

                    </div>
                </div><!-- tab-pane -->
            </div>

            <div class="col-md-12" ng-show="inView === 'Pension Managers'">
                <div class="tab-pane" id="followers">
                    Pension Managers
                </div><!-- tab-pane -->
            </div>

        </div>

    </div><!-- col-sm-9 -->



</div><!-- contentpanel -->
