<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-credit-card"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>New Pay Run</li>
            </ul>
            <h4>New Pay Run</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row">
        <div class="col-md-12" ng-if="preSelect">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns"></div><!-- panel-btns -->
                    <h4 class="panel-title">Payroll Calculator</h4>
                </div><!-- panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                <b>This option allows you to pay a list of selected employees from a pay group by selecting the month and year.</b>
                            </p>
                        </div>
                        <div class="col-md-12 text-center">
                            <p class="text-danger">
                                Note: Before using this option for a new month payment, make sure salary settings for the month is complete.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-3 text-right"><b>Compute payment for:</b></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select2 ng-model="paymentPeriod.month" s2-options="month as month for month in months" style="width: 100%"></select2>
                                                    </div><!-- form-group -->
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select2 ng-model="paymentPeriod.year" s2-options="year as year for year in years" style="width: 100%"></select2>
                                                    </div><!-- form-group -->
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-primary" ng-click="startProcessing()">Process Payrun</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- panel -->
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- panel -->
        </div>
    </div>

    <div class="row" style="margin-top: 25px;" ng-show="!authorizeView && !preSelect">
        <div class="col-md-12 employee-filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Pay Groups</label>
                        <select2 ng-change="changeGroup(payGroupId)"  ng-model="payGroupId" s2-options="group._id as group.name for group in payGroups" style="width: 100%"></select2>
                    </div><!-- form-group -->
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" ng-if="!dataFetched">
            <img alt="" src="images/loaders/loader10.gif">
        </div>
        <div class="col-md-12">
            <div class="alert alert-danger text-center" ng-if="dataFetched && filteredEmployees.length === 0">
                <p>No Employee available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="dataFetched && filteredEmployees.length > 0">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="ckbox ckbox-success">
                                <input ng-model="settings.preSelected" ng-change="selectAllEmployees()" ng-checked="settings.preSelected" type="checkbox" id="preSelected-all" />
                                <label for="preSelected-all"></label>
                            </div>
                        </th>
                        <th>Employee Id</th>
                        <th>Full Name</th>
                        <th>Pay Grade</th>
                        <th>Gross Pay</th>
                        <th>PAYE</th>
                        <th>Pension</th>
                        <th>Total Deductions</th>
                        <th>Net Pay</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" dir-paginate="employee in filteredEmployees | itemsPerPage: pageSize" current-page="currentPage">
                        <td>
                            <div class="ckbox ckbox-success">
                                <input ng-model="employee.selected" ng-checked="employee.selected" type="checkbox" id="{{'em' + employee._id}}" checked="checked" />
                                <label for="{{'em' + employee._id}}"></label>
                            </div>
                        </td>
                        <td>{{employee.employeeId}}</td>
                        <td>{{employee.fullName}}</td>
                        <td>{{employee.payGrade.name}}</td>
                        <td class="text-right">{{employee.paymentInformation.grossIncome / 12 | currency:""}}</td>
                        <td class="text-right">{{employee.paymentInformation.tax / 12 | currency:""}}</td>
                        <td class="text-right">{{employee.paymentInformation.pension / 12 | currency:""}}</td>
                        <td class="text-right">{{employee.paymentInformation.totalDeductions / 12 | currency:""}}</td>
                        <td class="text-right">{{employee.paymentInformation.netPay / 12 | currency:""}}</td>
                        <td><a href="" data-toggle="modal" data-target=".payroll-summary" ng-click="showPayDetails(employee)">View Pay Details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
            <div class="col-md-12 text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

        </div>
        <div class="col-md-12 text-left" ng-if="filteredEmployees.length > 0">
            <div class="form-group">
                <label class="control-label">.</label>
                <button class="btn btn-primary" ng-click="initiatePayRun()">Start Pay Run</button>
                <button class="btn btn-warning" ng-click="goBack()">Back</button>
            </div><!-- form-group -->
        </div>
    </div><!-- row -->


    <div class="row bigger-font" style="margin-top: 25px;" ng-if="authorizeView && !payRunReportsView">

        <div class="col-md-12">
            <p>You are about to process payroll for selected pay group.
                Ensure all employees in pay group are rightly set up as changes can't be made after clicking the confirm button.
                Payroll report will be generated if possible and pay slips can be be printed or mailed to employees.
                The pay date is the date payment request will be made to employees' banks for payment.
            </p>
        </div>

        <div class="col-md-12 action-div">
            <div class="row">
                <div class="col-md-3">Number of Employees:</div>
                <div class="col-md-9">{{payRunEmployees.length}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Pay Group:</div>
                <div class="col-md-9">{{getPayGroup()}}</div>
            </div>
            <div class="row pay-info">
                <div class="col-md-3">Amount to be paid:</div>
                <div class="col-md-9">{{getTotalAmountToBePaid() | currency:" ₦ "}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Tax:</div>
                <div class="col-md-9">{{getTotalTaxToBePaid() | currency:" ₦ "}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Pension:</div>
                <div class="col-md-9">{{getTotalPensionToBePaid() | currency:" ₦ "}}</div>
            </div>
            <div class="row pay-info">
                <div class="col-md-3">Pay Date:</div>
                <div class="col-md-3">
                    <adm-dtp ng-model="payRun.paymentDate"></adm-dtp>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Today's Date:</div>
                <div class="col-md-9">{{todayDate | date:"yyyy-MM-dd"}}</div>
            </div>
        </div>

        <div class="col-md-12 action-div">
            <button class="btn btn-primary" ng-click="confirmPayRun()">Confirm</button>
            <button class="btn btn-warning" ng-click="back()"><i class="fa fa-angle-double-left"></i> Back</button>
        </div>

    </div>



    <div class="row" style="margin-top: 25px;" ng-if="payRunReportsView">

        <div class="col-md-12 big-font">
            <p>Send pay slips in pdf format to employees...</p>
        </div>

        <div class="col-md-12 big-font">
            <div class="row">
                <div class="col-md-3">Pay Group:</div>
                <div class="col-md-9">{{getPayGroup()}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Payment Date:</div>
                <div class="col-md-9">{{todayDate | date:"yyyy-MM-dd"}}</div>
            </div>
        </div>

        <div class="col-md-12 action-div" ng-if="payRolls.length > 0">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="ckbox ckbox-success">
                                <input ng-model="settings.selected" ng-change="selectAll()" ng-checked="settings.selected" type="checkbox" id="select-all" />
                                <label for="select-all"></label>
                            </div>
                        </th>
                        <th>Employee Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" dir-paginate="payRoll in payRolls | itemsPerPage: pageSize" current-page="currentPage">
                        <td>
                            <div class="ckbox ckbox-success">
                                <input ng-model="payRoll.selected" ng-checked="payRoll.selected" type="checkbox" id="{{'pa' + payRoll._id}}" checked="checked" />
                                <label for="{{'pa' + payRoll._id}}"></label>
                            </div>
                        </td>
                        <td>{{payRoll.employee.employeeId}}</td>
                        <td>{{payRoll.employee.fullName}}</td>
                        <td>{{payRoll.employee.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
            <div class="col-md-12 text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
        <div class="col-md-12">
            <p>** Only selected employees will be emailed.</p>
        </div>
        <div class="col-md-12 action-div">
            <button class="btn btn-primary" ng-click="mailPaySlips()">Send Now</button>
            <button class="btn btn-danger" ng-click="mailLater()">Send Later</button>
        </div>
    </div>


</div><!-- contentpanel -->




<div class="modal fade payroll-summary" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Summary</h3>
                </div>
                <div class="panel-body big-font">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="lg-title mb5 text-center">{{business.name}}</h5>
                            <h5 class="mb20 text-center">{{singleEmployee.fullName}}</h5>
                            <p class="mb20 text-center">Payroll Summary</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Pay Components</th>
                                        <th>Amount ( ₦  )</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="payType in singleEmployee.paymentInformation.payBreakDown.wages.concat(singleEmployee.paymentInformation.payBreakDown.benefits)">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value / 12 | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Gross Pay: </b></td>
                                        <td><b>{{singleEmployee.paymentInformation.grossIncome / 12 | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr ng-repeat="payType in singleEmployee.paymentInformation.payBreakDown.deductions.concat(singleEmployee.paymentInformation.payBreakDown.repayments)">
                                        <td>{{payType.title}}</td>
                                        <td>{{payType.value / 12 | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total Deductions: </b></td>
                                        <td><b>{{singleEmployee.paymentInformation.totalDeductions / 12 | currency:""}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    <tr>
                                        <td><b>Net Pay: </b></td>
                                        <td><b>{{singleEmployee.paymentInformation.netPay / 12 | currency:""}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div>
                <div class="panel-footer">
                    <button type="reset" ng-click="resetSummary()" class="btn btn-danger" id="payroll-summary-close" data-dismiss="modal">Close</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>