<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-money"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>One Off</li>
            </ul>
            <h4>One Off</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">




    <div class="row pay-runs-header">
        <div class="col-md-12">
            <h5 class="lg-title mb5">One Off Payments</h5>
            <p class="mb20 pull-right"><button class="btn btn-primary" data-toggle="modal" data-target=".add-one-off">New One Off</button></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center" ng-if="!dataFetched">
            <img alt="" src="images/loaders/loader10.gif">
        </div>
        <div class="col-md-12" ng-if="oneOfffs.length === 0 && dataFetched">
            <div class="alert alert-danger text-center">
                <p>No One Off Payment available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="oneOfffs.length > 0 && dataFetched">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Employee</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Serviced</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-repeat="oneOff in oneOfffs">
                        <td>{{$index + 1}}</td>
                        <td>{{getOneOffTitle(oneOff)}}</td>
                        <td>{{oneOff.employee.fullName}}</td>
                        <td>{{oneOff.payment.value | currency:""}}</td>
                        <td>{{oneOff.description}}</td>
                        <td>
                            <span ng-disabled="true" ng-if="oneOff.serviced === 'Yes'"><i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i></span>
                            <span ng-click="servicePayment(oneOff)" ng-if="oneOff.serviced === 'No'"><i class="fa fa-toggle-off fa-lg" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div><!-- row -->

</div><!-- contentpanel -->



<div class="modal fade add-one-off" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New One Off Payment</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Employee</label>
                                <select2 options="options" ng-change="fetchPayGrade()" ng-model="oneOff.employee" s2-options="employee._id as employee.fullName for employee in employees" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">One Off Type</label>
                                <select2 options="options" ng-change="setPayment()" ng-model="oneOff.id" s2-options="off.id as off.title for off in selectOneOffs" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Value</label>
                                <input ng-disabled="isCustom()" ng-model="oneOff.payment.value" type="number" placeholder="0" class="form-control" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12" ng-if="oneOff.id === 'custom'">
                            <div class="form-group">
                                <label class="control-label">One Off Title</label>
                                <input ng-model="oneOff.customTitle" type="text" placeholder="Custom Title" class="form-control" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Value</label>
                                <textarea class="form-control" placeholder="One Off Payment Description" ng-model="oneOff.description" rows="5"></textarea>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                    </div><!-- row -->
                    <p class="text-center error" ng-show="errorOccur">{{errorMessage}}</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="createOneOffPayment()">Create</button>
                    <button type="reset" class="btn btn-danger" ng-click="cancel()" id="new-on-off-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>
