<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-folder"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a ui-sref="business.overview">Business</a></li>
                <li>{{business.name}}</li>
                <li>Jobs</li>
            </ul>
            <h4>Jobs</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">

    <div class="row" ng-if="!singleView">
        <div class="col-md-12">
            <h5 class="lg-title mb5">Jobs</h5>
            <p class="mb20 pull-right"><button class="btn btn-primary" data-toggle="modal" data-target=".add-unit">New Job</button></p>
        </div>
    </div>


    <div class="row" ng-if="!singleView">
        <div class="col-md-12 text-center" ng-if="!dataFetched">
            <img alt="" src="images/loaders/loader10.gif">
        </div>
        <div class="col-md-12" ng-if="jobs.length === 0 && dataFetched">
            <div class="alert alert-danger text-center">
                <p>No job available</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="jobs.length > 0 && dataFetched">
            <div class="table-responsive">
                <table class="table table-primary mb60 table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Division</th>
                        <th>Parent</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-click="showJob(singleJob)" ng-repeat="singleJob in jobs">
                        <td>{{$index + 1}}</td>
                        <td>{{singleJob.name}}</td>
                        <td>{{singleJob.location}}</td>
                        <td>{{singleJob.division.name}}</td>
                        <td>{{singleJob.parent.name}}</td>
                        <td>
                            <span ng-if="singleJob.status === 'Active'" class="label label-success">{{singleJob.status}}</span>
                            <span ng-if="singleJob.status === 'Inactive'" class="label label-danger">{{singleJob.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
    </div><!-- row -->

    <div class="row" ng-if="singleView">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Update - {{oldDepartment.name}} Department</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="update-department-name" class="control-label">Name</label>
                                <input ng-model="singleDepartment.name" type="text" id="update-department-name" class="form-control" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <select2 options="options" ng-model="singleDepartment.location" s2-options="state as state for state in states" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Parent</label>
                                <select2 options="options" ng-model="singleDepartment.isParent" s2-options="choice as choice for choice in choices" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-6" ng-show="singleDepartment.isParent === 'Yes'">
                            <div class="form-group">
                                <label class="control-label">Division</label>
                                <select2 options="options" ng-model="singleDepartment.divisionId" s2-options="division._id as division.name for division in divisions" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6" ng-hide="singleDepartment.isParent === 'Yes'">
                            <div class="form-group">
                                <label class="control-label">Parent Department</label>
                                <select2 options="options" ng-model="singleDepartment.parentId" s2-options="department._id as department.name for department in filteredDepartments" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select2 options="options" ng-model="singleDepartment.status" s2-options="status as status for status in statuses" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-10 -->

                    </div><!-- row -->


                </div><!-- panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="updateDepartment()">Update</button>
                    <button type="reset" class="btn btn-warning" ng-click="closeDivision()">Cancel</button>
                    <button type="reset" class="btn btn-danger pull-right" ng-click="delete()">Delete</button>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div><!-- col-md-12 -->


        <div class="col-md-4">
            <h5 class="lg-title mb10">Edit History</h5>

            <div class="panel-group" id="accordion2">
                <div ng-repeat="history in histories" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href=".{{history._id}}">
                                <span>{{history.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                <span class="pull-right">{{history.user.username}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" ng-class="history._id">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" ng-repeat="activity in history.activities">
                                    <div class="well well-sm">{{activity | prettifyActivity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->

            </div><!-- panel-group -->

        </div><!-- col-md-4 -->

    </div>


</div><!-- contentpanel -->




<div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Department</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="new-department-name" class="control-label">Name</label>
                                <input ng-model="department.name" type="text" id="new-department-name" placeholder="Department Name" class="form-control" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <select2 options="options" ng-model="department.location" s2-options="state as state for state in states" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->


                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Parent</label>
                                <select2 options="options" ng-model="department.isParent" s2-options="choice as choice for choice in choices" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->


                    </div>

                    <div class="row" >

                        <div class="col-sm-12" ng-show="department.isParent === 'Yes'">
                            <div class="form-group">
                                <label class="control-label">Division</label>
                                <select2 options="options" ng-model="department.division" s2-options="division._id as division.name for division in divisions" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                        <div class="col-sm-12" ng-hide="department.isParent === 'Yes'">
                            <div class="form-group">
                                <label class="control-label">Parent Department</label>
                                <select2 options="options" ng-model="department.parent" s2-options="department._id as department.name for department in departments" style="width: 100%"></select2>
                            </div><!-- form-group -->
                        </div><!-- col-sm-12 -->

                    </div><!-- row -->
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary mr5" ng-click="createDepartment()">Save</button>
                    <button type="reset" class="btn btn-danger" id="new-department-close" data-dismiss="modal">Cancel</button>
                </div><!-- panel-footer -->
            </div>
        </div>
    </div>
</div>